<nav>
    <ul>
        <li><a n:href="Homepage:default">Hlavní strana</a></li>
        <li><a n:href="Composition:default">Složky přípravku</a></li>
        <li><a n:href="Infertility:default">Mužská neplodnost</a></li>
        <li><a n:href="Research:default">Výzkum</a></li>
        <li><a n:href="Advise:default">Poradíme Vám</a></li>
        <li><a n:href="Eshop:default">Koupit</a></li>
        <li><a n:href="Contact:default">Kontakt</a></li>
    </ul>
</nav>
