{block content}

{*{include './emails/customer-invoice.latte'}*}
{*{include '/var/www/reproman/app/Presenters/templates/Eshop/emails/customer-invoice.latte'}*}
{*{include $basePath . 'templates/Eshop/emails/customer-invoice.latte'}*}
