{block title}Male infertility{/block}
{block description}Nejaky popis{/block}
{block keywords}klicova slova{/block}
{block h1}Male infertility{/block}

{block content}

<div class="main-teaser">
    <p>Infertility is a condition where a couple is not capable of conception after a year of regular unprotected sexual intercourse. About 15% of couples are affected by infertility. In about one half of cases, it is the man who is the main cause of infertility.</p>
</div>

<div class="main-sides-blocks">
    <div class="main-blocks">
        <h2>Spermatogenesis</h2>
        <p>Spermatogenesis is a complex process of sperm formation from germ cells. Poor or no spermatogenesis may cause male infertility and lead to conception problems.</p>
        <p>If you fear about reduced fertility, it would be appropriate to visit your doctor or a specialised centre for assisted reproduction. You will undergo a spermiogram examination there (for more details, see Diagnostic methods in the male examination).</p>

        <h2>Causes of male infertility</h2>
        <p>Sperm quality has significantly deteriorated in developed countries in recent decades. Decreased sperm quality is one of the most common causes of male infertility. Male infertility can be congenital or acquired.</p>

        <h3>The following factors may negatively affect spermatogenesis:</h3>
        <ul>
            <li>Disorders of testicular descent at birth.</li>
            <li>Scrotal injury.</li>
            <li>Inflammatory diseases of testicles, epididymides or prostate.</li>
            <li>History of diseases such as mumps, measles, infectious diseases.</li>
        </ul>

        <h3>Other causes of male infertility include:</h3>
        <ul>
            <li>Obstruction of ejaculatory ducts or their complete absence.</li>
            <li>Impotence.</li>
            <li>Bad lifestyle.</li>
            <li>Insufficient physical activity.</li>
            <li>Inappropriate eating habits.</li>
            <li>Overweight or obesity.</li>
            <li>Deteriorated environment.</li>
            <li>Strong stress.</li>
            <li>Smoking.</li>
            <li>Alcohol and drugs.</li>
        </ul>

        <h2>Spermiogram according to WHO</h2>
        <p>The World Health Organization (WHO) regularly issues reference values for the ejaculate examination (spermiogram). It is a worldwide tool for standardised assessment of male fertility. The values are regularly reviewed and updated to reflect the actual results of fertile men. The last issue is from 2021 – some values were adjusted, especially downwards. While in 1951, the lower limit of sperm concentration was 80 mil/ml, in 1964 it decreased to 40 mil/ml, to 20 mil/ml since 1980 and to 15 mil/ml since 2010. The new issue assesses the shape (morphology) of sperm. The view on the evaluation of sperm motility has also changed.</p>
        <p>Your spermiogram values will be compared to WHO reference standards. However, if you have below the threshold values, it does not necessarily mean, you cannot conceive a child. It is the same as men with above threshold values cannot be sure to be able to conceive a child with their partners without any problems.</p>

        <h3>Definition of terms:</h3>
        <ul>
            <li><strong>Normozoospermia</strong> - normal ejaculate according to WHO reference values.</li>
            <li><strong>Oligozoospermia</strong> - sperm concentration is lower than WHO reference values.</li>
            <li><strong>Asthenozoospermia</strong> - < 50% of sperm with progressive type a+b motility or < 25% with type a motility.</li>
            <li><strong>Teratozoospermia</strong> - 30% of sperm with normal morphology.</li>
            <li><strong>Oligoasthenoteratozoospermia</strong> - indicates a disorder of all three parameters (a combination of two prefixes can also be used).</li>
            <li><strong>Azoospermia</strong> - no sperm present in the ejaculate.</li>
            <li><strong>Aspermia</strong> - absence of ejaculate.</li>
            <li><strong>Vitality</strong> - several sperm can be obtained by centrifugation.</li>
        </ul>
    </div>

    <div class="main-blocks">
        <h2>Biological reference range according to WHO 2021:</h2>
        <ul>
            <li><strong>Appearance:</strong> homogeneous, grey-opalescent.</li>
            <li><strong>Liquefaction:</strong> liquid within 60 minutes.</li>
            <li><strong>Ejaculate volume:</strong> 1.5 ml, no upper limit.</li>
            <li><strong>pH:</strong> > 7.2, no upper limit.</li>
            <li><strong>Sperm concentration:</strong> > 15 million/ml.</li>
            <li><strong>Sperm motility:</strong> 40% mobile (at least a part must be progressively mobile) or 32% progressively mobile.</li>
            <li><strong>Sperm morphology:</strong> at least 4% morphologically fully normal sperm.</li>
            <li><strong>Total sperm count:</strong> > 39 million.</li>
        </ul>

        <h2>Diagnostic methods in the examination of men</h2>
        <h3>a) Spermiogram examination</h3>
        <p>Basic method of the male infertility diagnosis. Volume, appearance, liquefaction time, total sperm count, percentage of motile sperm and percentage of morphologically normal sperm are evaluated.</p>

        <h3>b) Examination of integrity of sperm acrosome</h3>
        <p>Further important parameters affecting fertilisation abilities, in addition to the number of sperm and their motility, are integrity (intactness) of sperm acrosome and the presence of a sufficient amount of intra-acrosomal binding protein (IAP).</p>
        <p>Flow cytometry suitably complements the most common examination method - determination of spermiogram. Flow cytometry measures a large number of sperm cells, making the result more objective and integral.</p>
        <p>The acrosome contains enzymes important for ability of the sperm cell to enter the egg:</p>

        <h3>c) DNA fragmentation of sperm</h3>
        <p>Sperm are highly susceptible to damage to nuclear DNA. It is known that this damage can be the cause of reduced male fertility. Abnormal development of embryos or termination of the development is very common after egg fertilisation with sperm with fragmented DNA. Miscarriages often occur in early stages in case of pregnancy.</p>
        <p>The examination is based on determination of the sperm ratio with full DNA (normal, undamaged) and fragmented DNA (damaged).</p>
        <p>This examination is recommended for men after chemotherapy, men working in a high-risk environment (chemicals, radiation), men with varicocele, or after previous urogenital tract infections, in elderly men, in couples with an unknown cause of infertility, in couples after unsuccessful IVF cycles, in partners of women after recurrent miscarriages.</p>
        <p>The results are stated as percentages. The examined sample is considered to be normal if the number of sperm with fragmented DNA does not exceed 30%. Otherwise (sperm with damaged DNA is more than 30%), the sample is considered abnormal.</p>
        <p>The result of the fragmentation examination is not related to the values of spermiogram (an increased number of fragmented sperm may also occur in normospermia).</p>

        <h3>d) Sperm culture examination</h3>

        <h3>e) Hormonal, genetic and immunological examination</h3>

        <h3>What can I do to improve my spermiogram</h3>
        <p>If the examination of the spermiogram indicates a poor quality of spermiogram, follow the recommendations of the physician. It may help to slow down, adjust eating habits, quit smoking, avoid drugs and alcohol.  Avoid other risk factors, such as the effects of warming the testicles (wearing tight underwear, working with a laptop on your lap, frequent saunas, hot baths) or contact with hazardous chemicals (lead, alcohol, ..). It is important to treat all infections early.</p>
        <p><strong>The combined product REPROMAN® may help you improve the quality of ejaculate in all the monitored parameters (volume, sperm count, general motility, shape), as REPROMAN® contains a number of components with a demonstrably positive effect on the sperm quality and quantity. It is recommended to use the product for a longer period (6 months), preferably until your partner becomes pregnant.</strong></p>
    </div>
</div>
