{* TODO - Doplnit hlavičky *}
{block title}Platba byla zrušena{/block}
{block description}Nejaky popis{/block}
{block keywords}klicova slova{/block}
{block h1}E-shop{/block}

{block content}

<p style="font-size: 19px">Platba byla zrušena.</p>