<html>
<head>
    <meta charset="utf-8">
    <title>Reproman - advice</title>
    <style>
        body {
            /*background: url("background.png")*/
        }

        p {
            font-size: 17px;
            line-height: 150%;
        }
    </style>
</head>
<body>

<p>Dobrý den,</p>

<p>uživatel {$name} (email: {$email}) poslal tento dotaz z webových stránek www.reproman.cz:</p>

<p>{$question}</p>

</body>
</html>
