<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Nová objednávka</title>
    <style>
        p {
            font-size: 17px;
            line-height: 150%;
        }
    </style>
</head>
<body>

<p>Dobrý den,</p>

<p>v e-shopu byla vytvořena a zaplacena nová objednávka od zákazníka:</p>

<p>{$objednavka->name} {$objednavka->surname}<br />
        <strong>E-mail:</strong> {$objednavka->email}<br />
        <strong>Mobil:</strong> {$objednavka->phone}<br />
</p>

<p>Objednávka je na balení na {$produkt}, na adresu: <strong>{$objednavka->contactStreet}, {$objednavka->contactCity}, {$objednavka->contactPsc}</strong></p>
<p>Zobrazení objednávky v <a href="{$adminLink}">administraci</a>.</p>

</body>
</html>
