{block title}Components of the preparation{/block}
{block description}Nejaky popis{/block}
{block keywords}klicova slova{/block}
{block h1}Components of the preparation{/block}

{block content}

<div class="main-teaser">
    <p>Individual components of the product were carefully chosen and REPROMAN® contains optimal composition of
        substances with a demonstrably beneficial effect on production of male germ cells, thus increasing sperm
        production and improving its quality in all parameters (progressive and total motility, sperm count, volume,
        morphology). Selected components of the product will help improve the quality of sexual life, as it has a
        beneficial effect on sexual activity and potency.</p>
</div>

<h2>Brief characteristics of individual components</h2>

<div class="main-sides-blocks">
    <div class="main-blocks">
        <h3>Tribulus terrestris <span>(Tribulus terestris)</span></h3>
        <p>It is a procumbent annual herb originating from Japan and China. Tribulus terrestris contains a large amount
            of steroids called saponins, plant sterols, flavonoids and alkaloids. These increase the level of
            luteinizing hormone (LH). Luteinizing hormone is a glycoprotein produced in the anterior pituitary. Its main
            function is regulation of the testosterone level (up to 30%). It promotes spermatogenesis (production of
            male sperm germ cells) in men. In women, it controls the normal egg development in the uterus.</p>
        <p>Products containing the tribulus extract therefore directly stimulate the testosterone level. Higher
            testosterone level means a greater muscle mass development, improved regeneration and muscle endurance, and
            helps in balancing the optimal ratio between the muscle and fat tissue. It also improves potency and
            increases libido, thus sex drive. It positively supports energy production, regeneration, muscle endurance
            and the immune functions of the organism.</p>
        <p>It is also valued for its diuretic effects.</p>

        <h3>Maca <span>(Lepidium meyenii)</span></h3>
        <p>It is an ancient medicinal herb of the Peruvian Andes, which activates cellular metabolism and also improves,
            revitalises and boosts physical and mental performance at the same time.</p>
        <p>The use of the Maca root increases resistance to fatigue, improves mental concentration, increases mental
            endurance and promotes sex drive in both men and women. Its effect on increasing sperm production and sperm
            motility has also been described.</p>

        <h3>Ginkgo biloba <span>(Ginkgo biloba)</span></h3>
        <p>The leaf extract of this tree has been used for centuries to protect health and is often called the longevity
            tree or the tree of wise ones. The leaves contain a large amount of flavonoids, terpenes, organic acids and
            other substances. Their structure cannot be precisely determined even by modern science. The complex of
            these substances, which are technically called "ginkgolides", is not present in any other plant. The use of
            the Ginkgo biloba leaf extract improves blood flow through all blood vessels in the human body, providing
            for more perfect supply of oxygen and nutrients to all parts of the organism. It improves the use of oxygen
            in brain tissue cells, thus contributing to increased concentration and overall mental freshness: students
            remember things they have learned better, managers can do more activities and are more competitive, older
            people benefit from reduced forgetfulness and confusion.</p>
        <p>However, improvement of blood flow throughout the organism will help not only your brain, but also in the
            so-called "peripheral" parts of the organism: unpleasant tinnitus is eliminated by improving blood supply in
            the inner ear. Retinal blood flow is also improved.</p>

        <h3>Coenzyme Q10</h3>
        <p>It is from a group of so-called ubiquinones. The structure of ubiquinones is similar to vitamins E and K.</p>

        <h3>Zinc</h3>
        <p>It is essential for intact activity of about a hundred of enzymes. It is important for proper vision, it has
            an effect on fertility and reproduction, and helps maintain the proper blood testosterone level. It affects
            metabolism of sugars, proteins, hormones and vitamins. It is one of antioxidants protecting cells from
            reactive oxygen species. It is important for maintenance of normal vitamin A concentrations in blood and is
            involved in genetic information reading.</p>

        <h3>Selenium</h3>
        <p>It is a trace element which acts as a powerful antioxidant. It protects body cells and tissues from the
            harmful effects of reactive oxygen species from the polluted environment, smoking or radiation.</p>
        <p>Selenium supports the immune system and is also important for conversion of thyroid hormones. Correlation of
            selenium concentration in sperm with sperm density was observed in men, as well as with sperm count,
            motility and viability.</p>

        <h3>Vitamin C</h3>
        <p>It has a number of important functions in the human body. As a powerful antioxidant, it contributes to
            neutralisation of harmful effects of reactive oxygen species in the cell, tissues and organs, which develop
            here as an undesirable product of metabolism. It is important for the immune system, especially during
            increased physical activity. If supports energy metabolism and reduces the feeling of fatigue and
            exhaustion.</p>
    </div>

    <div class="main-blocks">
        <h3>Vitamin E</h3>
        <p>It is one of antioxidants. It is found in the cellular membrane, which is composed mainly of fat molecules,
            and binds harmful reactive oxygen species arising from metabolism in the cell or from outside. These
            reactive molecules attack various cellular structures, including especially fats. The cell ages faster and
            dies. Vitamin E is very sensitive to oxidation and is therefore attacked by radicals preferentially. This
            way, it protects other membrane fats. The damaged vitamin E molecule is then regenerated again with the aid
            of vitamin C.</p>

        <h3>Vitamin B1 <span>(thiamin)</span></h3>
        <p>It is an essential component of about thirty enzymes. It is important for energy conversion of sugars,
            alcohol and branched fatty acids in cells. It is essential for proper function of the nervous system and
            heart. Substantial physical exertion and stress increase the need for vitamin B1. Thiamine is not stored in
            the human body and its supply lasts only for 4-10 days. Therefore, it must always be present in food.</p>

        <h3>Vitamin B2 <span>(riboflavin)</span></h3>
        <p>It is important for production of new cells (it is important for maintenance of a healthy skin and mucous
            membranes), it ensures proper vision by converting short-wave blue rays to yellow-green rays, thus affecting
            your vision at dusk, similarly to retinol. It also has an indispensable effect on overall metabolism of the
            body – it affects metabolism of sugars, amino acids and fats in a form of coenzymes FMN- (flavin
            mononucleotide) and FAD- (flavindinucleotide), thus directly controlling energy metabolism in the body.
            Riboflavin also affects the nervous system, the brain and it helps with the transfer of oxygen into muscle
            cells during higher physical exertion, thus reducing the feelings of fatigue and exhaustion.</p>

        <h3>Vitamin B3 <span>(nicotinamide)</span></h3>
        <p>It affects energy metabolism and function of the nervous system. It helps maintain a good condition of the
            skin and mucous membranes. It is involved in maintenance of normal mental processes and reduces the feeling
            of fatigue and exhaustion.</p>

        <h3>Vitamin B5 <span>(pantothenic acid)</span></h3>
        <p>It has a number of irreplaceable functions in the human organism. The most important functions include
            increased fertility (synthesis and metabolism of steroid hormones), support of mental activity and its
            beneficial effect is described even in fatigue and exhaustion.</p>

        <h3>Vitamin B6 <span>(pyridoxine)</span></h3>
        <p>It plays an important role in activity of many enzymes. It plays an important role in the breakdown and use
            of proteins, sugars and fats from food, but also in release of stored sugar in the liver and muscles and its
            conversion into energy. It also plays an important role in production of red blood cells and antibodies. It
            is indispensable for proper function of the immune system. It is involved in normal function of the central
            nervous system and various hormones.</p>

        <h3>Vitamin B7 <span>(biotin)</span></h3>
        <p>It has an important role in activities of a number of enzymes involved in the breakdown of fatty acids and
            carbohydrates or playing a role in excretion of waste products from protein cleaving. Biotin is also
            important for healthy hair and nails.</p>

        <h3>Folic acid</h3>
        <p>It is one of the B group vitamins. It has irreplaceable function in the organism – it is involved in
            production of nucleic acids, which carry information important for the normal course of all life processes.
            It is also essential for protein metabolism, red blood cell production and cell division.</p>
        <p>Folic acid is essential for the healthy development of the foetus. Its sufficient intake before planned
            conception and during the first trimester is important for the development of the foetus – it is the period,
            when the brain and spinal cord develop and the spinal canal closes – between the 22nd and 28th day of
            pregnancy.
            Folic acid also affects metabolism of harmful homocysteine, since it accelerates its conversion to the
            amino-acid methionine. High level of homocysteine has been shown to be a risk factor for the development of
            Alzheimer's disease and are also a major risk factor for atherosclerosis.</p>
        <p>Folic acid also helps reduce fatigue and exhaustion and contributes to proper function of the immune
            system.</p>

        <h3>Vitamin B12</h3>
        <p>It is necessary for cell turnover and is especially important for production of red blood cells. It helps
            maintain the protective sheaths of nerve fibres (myelin), it participates in conversion of nutrients into
            energy and plays an essential role in the production of DNA and RNA (genetic material in cells).
            Vitamin B12 maintains the immune system, helps control normal homocysteine metabolism and last but not least
            it reduces fatigue and exhaustion.</p>
    </div>
</div>

<h4>Notes:</h4>
<ol>
    <li>3864, medical claim on hold.</li>
    <li>2838, medical claim on hold.</li>
    <li>2839, medical claim on hold.</li>
    <li>Malkanthi Evans, Joshua Baisley, Sonya Barss. A randomized, double-blind trial on the bioavailability of two
        CoQ10 formulations.
    </li>
    <li>Zn 2009;7(9):1229; 2010;8(10):1819 Approved medical claims.</li>
    <li>Se 2009;7(9):1220; 2010;8(10):1727 Approved medical claims.</li>
    <li>Vit C, 2009;7(9):1226; 2010;8(10):1815 Approved medical claims.</li>
    <li>Vit E, 2010;8(10):1816, Approved medical claims.</li>
    <li>B1, 2009;7(9):1222,2010;8(10):1755, Approved medical claims.</li>
    <li>B2, 2010;8(10):1814, Approved medical claims.</li>
    <li>B3, 2009;7(9):1224; 2010;8(10):1757, Approved medical claims.</li>
    <li>B5, 2009;7(9):1218; 2010;8(10):1758; Approved medical claims.</li>
    <li>B6; 2010;8(10):1759; 2009;7(9):1225; Approved medical claims.</li>
    <li>B7; 2009;7(9):1209; 2009;7(9):1209,2010;8(10):1728; Approved medical claims.</li>
    <li>Folate, 2009;7(9):1213; 2010;8(10):1760.</li>
    <li>B12; 2010;8(10):4114; 2009;7(9):1223, 2010;8(10):1756 Approved medical claims.</li>
    <li>Tribulus terrestris, medical claim on hold: 2831;3620;3621;4178; 4180; 4181;4182.</li>
    <li>Ginkgo biloba, medical claim on hold 2546, 2807, 3767, 3768.</li>
</ol>
